src/main/resources/Rova/WSDLs/RovaService_oldV7.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://schemas/shb.rova/service/verify/transaction/v1" name="RovaService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://schemas/shb.rova/service/verify/transaction/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">


  <types>  
    <xs:schema version="1.0" targetNamespace="http://schemas/shb.rova/service/verify/transaction/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="deleteTransaction" type="tns:deleteTransaction"/>

      <xs:element name="deleteTransactionResponse" type="tns:deleteTransactionResponse"/>

      <xs:element name="signTransaction" type="tns:signTransaction"/>

      <xs:element name="signTransactionResponse" type="tns:signTransactionResponse"/>

      <xs:element name="verifyTransaction" type="tns:verifyTransaction"/>

      <xs:element name="verifyTransactionResponse" type="tns:verifyTransactionResponse"/>
                                       
      <xs:complexType name="signTransaction">
        <xs:sequence>
          <xs:element name="signInfo" type="tns:signInfo"/>
          <xs:element name="sessionInfo" type="tns:sessionInfo"/>
          <xs:element name="customerInfo" type="tns:customerInfo"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="signInfo">
        <xs:sequence>
          <xs:element name="DlvySystRefr" type="xs:string"/>
          <xs:element name="CfrmMeth" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="sessionInfo">
        <xs:sequence>
          <xs:element name="uasId" type="xs:string"/>
          <xs:element name="effTmstp" type="xs:long" minOccurs="0"/>
          <xs:element name="baseAuthScheme" type="xs:string" minOccurs="0"/>
          <xs:element name="strengthAuthScheme" type="xs:string" minOccurs="0"/>
          <xs:element name="userAgent" type="xs:string" minOccurs="0"/>
          <xs:element name="logonTime" type="xs:int" minOccurs="0"/>
          <xs:element name="agentOS" type="xs:string" minOccurs="0"/>
          <xs:element name="agentBrowser" type="xs:string" minOccurs="0"/>
          <xs:element name="ipAdressAgent" type="xs:string" minOccurs="0"/>
          <xs:element name="actSession" type="xs:int" minOccurs="0"/>
          <xs:element name="pspTpp" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="customerInfo">
        <xs:sequence>
          <xs:element name="acctBal" type="xs:string" minOccurs="0"/>
          <xs:element name="contDtlsChgDt" type="xs:string" minOccurs="0"/>
          <xs:element name="natRegChngDt" type="xs:string" minOccurs="0"/>
          <xs:element name="userIpCreDt" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="signTransactionResponse">
        <xs:sequence>
          <xs:element name="approved" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteTransaction">
        <xs:sequence>
          <xs:element name="deleteInfo" type="tns:deleteInfo"/>
          <xs:element name="sessionInfo" type="tns:sessionInfo"/>
          <xs:element name="customerInfo" type="tns:customerInfo"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteInfo">
        <xs:sequence>
          <xs:element name="DlvySystRefr" type="xs:string"/>
          <xs:element name="CUSTIPIDFR" type="xs:long" minOccurs="0"/>
          <xs:element name="DlvySrceSwNm" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteTransactionResponse">
        <xs:sequence>
          <xs:element name="success" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="verifyTransaction">
        <xs:sequence>
          <xs:element name="transactionInfo" type="tns:transactionInfo"/>
          <xs:element name="sessionInfo" type="tns:sessionInfo"/>
          <xs:element name="customerInfo" type="tns:customerInfo"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="transactionInfo">
        <xs:sequence>
          <xs:element name="isoCountryCode" type="xs:string"/>
          <xs:element name="txnExtSrce" type="xs:string"/>
          <xs:element name="dlvySysTrEfr" type="xs:string"/>
          <xs:element name="userIpIdFr" type="xs:long" minOccurs="0"/>
          <xs:element name="userIPSecIdfr" type="xs:string" minOccurs="0"/>
          <xs:element name="dlvySrceSwNm" type="xs:string"/>
          <xs:element name="pymtTp" type="xs:string"/>
          <xs:element name="custIpIdFr" type="xs:long" minOccurs="0"/>
          <xs:element name="custIPSecIdfr" type="xs:string" minOccurs="0"/>
          <xs:element name="sndByIpIdFr" type="xs:long" minOccurs="0"/>
          <xs:element name="sndByIPSecIdfr" type="xs:string" minOccurs="0"/>
          <xs:element name="sndAcctNbr" type="xs:string"/>
          <xs:element name="sndAcctIsoCurrCd" type="xs:string"/>
          <xs:element name="sndAcctNatBnkId" type="xs:string" minOccurs="0"/>
          <xs:element name="sndAccBic" type="xs:string" minOccurs="0"/>
          <xs:element name="sndAcctIsoCntryCd" type="xs:string"/>
          <xs:element name="sndTx" type="xs:string" minOccurs="0"/>
          <xs:element name="sndAcctCredt" type="xs:string" minOccurs="0"/>
          <xs:element name="recvByIpIdFr" type="xs:long" minOccurs="0"/>
          <xs:element name="recvByIPSecIdfr" type="xs:string" minOccurs="0"/>
          <xs:element name="recvAcctNbr" type="xs:string" minOccurs="0"/>
          <xs:element name="recvAcctIsoCurrCd" type="xs:string" minOccurs="0"/>
          <xs:element name="recvAcctNatBnkId" type="xs:string" minOccurs="0"/>
          <xs:element name="recvAccBic" type="xs:string" minOccurs="0"/>
          <xs:element name="recvAcctIsoCntryCd" type="xs:string" minOccurs="0"/>
          <xs:element name="recvAcctCredt" type="xs:string" minOccurs="0"/>
          <xs:element name="freeTx" type="xs:string" minOccurs="0"/>
          <xs:element name="recptNm" type="xs:string" minOccurs="0"/>
          <xs:element name="mnTrInstrDate" type="xs:string"/>
          <xs:element name="mnTrInstrAmt" type="xs:decimal"/>
          <xs:element name="isoCurrCode" type="xs:string"/>
          <xs:element name="amtBaseCurr" type="xs:decimal" minOccurs="0"/>
          <xs:element name="avalAmtAcct" type="xs:decimal" minOccurs="0"/>
          <xs:element name="mndCreDt" type="xs:string" minOccurs="0"/>
          <xs:element name="stepupYN" type="xs:string" minOccurs="0"/>
          <xs:element name="ownMndYN" type="xs:string"/>
          <xs:element name="ownAcctYN" type="xs:string"/>
          <xs:element name="holdYN" type="xs:string"/>
          <xs:element name="cutoffTm" type="xs:string" minOccurs="0"/>
          <xs:element name="ipTp" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="verifyTransactionResponse">
        <xs:sequence>
          <xs:element name="transactionStatus" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="verifyTransaction">
    <part name="parameters" element="tns:verifyTransaction"/>
  </message>
  <message name="verifyTransactionResponse">
    <part name="parameters" element="tns:verifyTransactionResponse"/>
  </message>
  <message name="signTransaction">
    <part name="parameters" element="tns:signTransaction"/>
  </message>
  <message name="signTransactionResponse">
    <part name="parameters" element="tns:signTransactionResponse"/>
  </message>
  <message name="deleteTransaction">
    <part name="parameters" element="tns:deleteTransaction"/>
  </message>
  <message name="deleteTransactionResponse">
    <part name="parameters" element="tns:deleteTransactionResponse"/>
  </message>
  <portType name="RovaResourceImpl">
    <operation name="verifyTransaction">
      <input wsam:Action="http://schemas/shb.rova/service/verify/transaction/v1/RovaResourceImpl/verifyTransactionRequest" message="tns:verifyTransaction"/>
      <output wsam:Action="http://schemas/shb.rova/service/verify/transaction/v1/RovaResourceImpl/verifyTransactionResponse" message="tns:verifyTransactionResponse"/>
    </operation>
    <operation name="signTransaction">
      <input wsam:Action="http://schemas/shb.rova/service/verify/transaction/v1/RovaResourceImpl/signTransactionRequest" message="tns:signTransaction"/>
      <output wsam:Action="http://schemas/shb.rova/service/verify/transaction/v1/RovaResourceImpl/signTransactionResponse" message="tns:signTransactionResponse"/>
    </operation>
    <operation name="deleteTransaction">
      <input wsam:Action="http://schemas/shb.rova/service/verify/transaction/v1/RovaResourceImpl/deleteTransactionRequest" message="tns:deleteTransaction"/>
      <output wsam:Action="http://schemas/shb.rova/service/verify/transaction/v1/RovaResourceImpl/deleteTransactionResponse" message="tns:deleteTransactionResponse"/>
    </operation>
  </portType>
  <binding name="RovaServicePortBinding" type="tns:RovaResourceImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="verifyTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="signTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
  </binding>
  <service name="RovaService">
    <port name="RovaServicePort" binding="tns:RovaServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

